body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#prof_box {
    max-width: 30%;
}

.new_tweet_input {
    height: 50px;
    width: 175px;
}

#compose {
    max-width: 60%;
}

#compose button {
    height: 50px;
    width: 85px;
}

.all_tweets {
    clear: right;
    margin-top: 50px;

}

.all_tweets img{
    max-width: 50px;
    display:block;
    margin-right: auto;
    background-image: url("https://makinggoodhumans.files.wordpress.com/2016/02/twitter-feather.jpg"),none, initial, inherit;
    background-size:cover;
    background-repeat: no-repeat;

    /*margin-left: auto;*/
}

#todays_twits {
    clear: left;
    margin-top: 50px;
}

#more_tweets {
    clear:right;
    text-align: center;
    
}

#more_tweets button {
   margin-left: auto;
   margin-right: auto;
}

footer p{
    margin-top: 50px;
    float:left;
    clear:both;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
