
<div class="jumbotron">
    <br />
    <br />
    <div>
        <button class="btn-block">JOIN!</button>
    </div>

</div>
<div class='row'>
    <div class='span12'>
        <hr />
    </div>
</div>
<div class="row">

    <div class="span12">
        <form class="form-inline">
            <textarea>Compose:</textarea><button>></button>
        </form>
    </div>
</div>
