
<div class="jumbotron">
    <br />
    <br />
    <div class="col-md-offset-6 col-md-4">
       <button @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })>JOIN!</button>
    </div>
    <hr />
</div>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <form class="form-inline">
            <textarea>Compose:</textarea><button>></button>
        </form>

        
    </div>
</div>