@model Tweeter.Models.TweetViewModel
@{
    ViewBag.Title = "Home Pgae";
}


<div id="homePage" ng-controller="HomePage" class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <img src="https://a3-images.myspacecdn.com/images03/1/240e42b5d9ce48a78983961e7fcb3c39/300x300.jpg" max-width="150px" class="img-rounded">
            <p>{{userName}}</p>
            <p>Followers: {{numberOfFollowers}}</p>
            <button class="btn btn-success btn-lg" ng-show="!userIsFollowing" ng-click="followUser(userId)">Follow</button>
            <button class="btn btn-success btn-lg" ng-show="userIsFollowing" ng-click="unfollowUser(userId)">Unfollow</button>

        </div>
        <div class="col-md-8 col-lg-8 col-sm-8">
            <div id="tweeter-form-box">
                <form action="/api/Tweet" class="form-horizontal" method="POST" role="form">
                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Username">Message</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Message, new { @class = "form-control", @placeholder = "What do you want to say?", @id = "message", @name = "Message" })
                            </div>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Username">Image URL</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ImageURL, new { @class = "form-control", @placeholder = "Image link?", @id = "image", @name = "image" })
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success btn-lg" ng-click="tweetPosted()">Post</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="tweet-container">

                <div class="card-columns">
                    <div class="card tweetBox" ng-repeat="tweet in tweets">
                        <img class="card-img-top" ng-if="tweet.ImageURL" ng-src={{tweet.ImageURL}}>
                        <div class="card-block">
                            <h4 class="card-title">{{tweet.Author}}</h4>
                            <p class="card-text">{{tweet.Message}}</p>
                            <p class="card-text">{{tweet.CreatedAt}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
