@{
    ViewBag.Title = "Home Page";
}


    <!---div class="" style="margin-top:50px;">
        <div class="col-md-3" style="border:1px solid lightgrey;" id="profile_box">
            <img class="col-sm-12" src="http://placehold.it/150x250"/>
        </div>
    </div-->
    <div class="container col-sm-8 col-sm-offset-1" ng-controller="TweetCtrl">
        <form class="container">
            <input type="text" class="form-control col-sm-12" placeholder="Say What!"/>
            <button class="btn-default btn" type="submit"><span class="glyphicon glyphicon-edit"></span>Tweet</button>
        </form>
        <div class="panel panel-default">
            <table class="table">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tweet in getTweets()">
                        <strong>{{tweet.Author || "TwitBot"}}</strong>
                            <img src="{{tweet.ImageURL}}" />
                        <h4>
                            {{tweet.Message}}
                        </h4>
                        <div>{{tweet.CreatedAt}}</div>
                        <div>
                            <span class="glyphicon glyphicon-retweet"></span>
                        </div>
                    </li>
                </ul>
            </table>
        </div> 
    </div>
