@{
    ViewBag.Title = "Home Page";
}

<div ng-app="TweeterApp">
    <div class="row" ng-controller="TweetController">
        <h2>Tweets</h2>
        <div class="col-md-4" ng-repeat="tweet in tweets">         
            <p>
               
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>