@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron hero">
    <div class="container">
        <h1 class="text-center">Join the conversation!</h1>
        <br />
        <p>
            @Html.ActionLink("Register", "Register",
                new { controller = "Account"},
                new { @class = "col-sm-2 col-sm-offset-5 btn btn-default btn-lg" })
        </p>
    </div>
</div>