@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div class="row" ng-controller="TweetController">
        <div class="col-md-4" ng-repeat="Tweet in Tweets">
            <h2>Tweets</h2>
            <p>
                ASP.NET MVC
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>