@{
    ViewBag.Title = "Home Page";
}
@{ 
    if(ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        ViewBag.IsAuthed = true;
    }
}

@if(!User.Identity.IsAuthenticated)
{
<div class="jumbotron vertical-center splash" style="@(ViewBag.IsAuthed ? "display:block": "display:hidden")">
    <div class="container">

        <div class="center-block"><button type="button" class="btn btn-info btn-xl" name="join" id="button-join">Join Now!</button></div>
    </div>
</div>
}