@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>TWEETER</h1>
    <p class="lead">A community for Twits!</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Join Now!</a></p>
</div>