@{
    ViewBag.Title = "Home Page";
}



@*@if (User.Identity.IsAuthenticated)
{*@
    <div style="margin-top:50px">
        <div class="col-md-3" style="border:1px solid lightgrey">
            <img src="blah.png" />
            <p>Username:</p>
            <p>Followers:</p>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-4">
        @Html.TextBox("_compose","",new {placeholder = "Compose" })
        <button class="btn btn-primary btn-md">+</button>
    </div>
    <div class="col-md-3" style="border:1px solid lightgrey">
        <h2>Today's Twits</h2>
        <p>Lorem Ipsum Veritae Veritus Nomine Ipso Facto Blah Blah Blah Blah Blah</p>
    </div>
    <div class="col-lg-4" style="border:2px solid black">
        <img src="tweetpic.img"/>
        <p>TWEET HERE</p>
        <div style="border:1px solid lightgrey">
            <button class="glyphicon glyphicon-retweet"></button>
            <button class="glyphicon glyphicon-share-alt"></button>
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1" style="border:1px solid lightgrey">
        <button class="glyphicon glyphicon-chevron-down" ></button>
    </div>
@*//}*@
@*else
{
    <div class="jumbotron">
        <p class="col-lg-2 col-lg-offset-5"><a href="http://asp.net" class="btn btn-primary btn-lg">JOIN &raquo;</a></p>
    </div>
}*@

