@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <div class="jumbotron">
        <h1>Tweeter</h1>
        <p class="lead">Tweeter is the fun public place to share your ideas in 150 characters or less. Once you join the community, you can reply and retwurp messages.</p>
        <p><a href="~/Register.cshtml" class="btn btn-primary btn-lg">JOIN NOW!</a></p>
    </div>    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello</h2>
        <p>
            A Twit's Post.
        </p>
     </div>
</div>