@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron vertical-center">
    <div class="container">

        <div class="center-block"><button type="button" class="btn btn-info btn-xl" name="join" id="button-join">Join Now!</button></div>
    </div>
</div>