@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Welcome to Tweeter</span>
                    <hr class="star-light">
                    <span class="skills">Keep on top of global conversations.</span>
                    <button class="btn btn-success btn-lg">Join the conversation</button>
                </div>
            </div>
        </div>
    </div>
</header>