@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="row twitbar">
                        <div class="text-center avatar">
                            <img src="https://avatars2.githubusercontent.com/u/16417888" />
                        </div>
                        <div class="row">
                            <p class="text-center">@User.Identity.Name</p>
                        </div>
                        <div class="row">
                            <p class="text-center"># of Followers</p>
                        </div>
                    </div>
                    <div class="row new-twits">
                        <h3 class="text-center">Today's Twits</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="row">
                    <div class="text-center">
                        <input class="composer" type="text" placeholder="Compose Tweet" aria-describedby="basic-addon1">
                        <button id="submit-tweet" class="btn">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center tweetbox">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/tweeter-page.js"></script>
} else
{
    <div class="jumbotron">
        <a href="/Account/Register">
            <button class="btn btn-default col-xs-3 col-sm-offset-5">Join!!</button>
        </a>
    </div>
}